@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Lato|Roboto:100,300&display=swap');

html {
  overflow: hidden;
}

body {
  overflow: visible;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: Nunito sans,sans-serif;
}

html {
  background-color: white;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

.map-container {
  height: 500px;
  width: 100vw;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

/* .img-container { */
/* display: none; */
.img-container span {
  z-index: -16;
}

/* } */


/* Banner Swiper Bullets */

.bannerSwiper .swiper-pagination-bullet {
  @apply bg-transparent opacity-100 border-[1px] border-[#fff] h-[15px] w-[15px];
  margin: 0 0.4rem !important;
}

.bannerSwiper .swiper-pagination-bullet-active {
  background: #fff;
}

/* Reviews Swiper */

.reviewSwiper {
  @apply relative flex justify-center place-items-center;
}

.reviewSwiper .slideHandle {
  @apply flex justify-center place-items-center;
}

.reviewSwiper::after,
.reviewSwiper::before {
  @apply bg-[#fff] z-[2] w-[300px] h-full absolute top-0;
  content: '';
  filter: blur(10px);
}

.reviewSwiper::before {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.95));
  left: 0;
}

.reviewSwiper::after {
  right: 0;
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0.95));
}

@media screen and (max-width: 1050px) {
  .reviewSwiper::after,
  .reviewSwiper::before {
    display: none;
  }
}

.reviewSwiper .swiper-slide .slideContainer {
  opacity: 0.6;
  transition: all 0.8s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .reviewSwiper .swiper-slide .slideContainer {
    opacity: 1;
  }
}

.reviewSwiper .swiper-slide-active .slideContainer {
  opacity: 1;
  transform: scale(1.2);
}

.reviewSwiper .swiper-pagination-bullet {
  @apply w-[15px] h-[15px] opacity-100 border-2 border-[#c7cbd6] bg-transparent;
}

.reviewSwiper .swiper-pagination-bullet-active {
  background: #c7cbd6;
}

/* Exclusive Stockist */
.exclusiveContainer::before {
  content: "";
  @apply block opacity-0 h-full w-full absolute top-0 left-0 bg-[#c7cbd640] z-[2];
  transition: all .4s;
}

.exclusiveContainer:hover:before {
  opacity: 1;
}

.exclusiveLinkIcon {
  display: none !important;
}

.exclusiveContainer:hover .exclusiveLinkIcon {
  display: block !important;
}

/* About Us */

.aboutus img {
  width: 33.33%;
}

.aboutus h1 {
  @apply font-[100] text-left text-[2rem] text-[#3e3d3c] font-robotoSans;
  margin: 40px 0 20px;
}

.aboutus .beauti {
  white-space: nowrap;
}


.aboutus .beauti div {
  @apply font-[100] text-[29px] flex place-items-baseline gap-[0.5rem] mb-[40px] font-robotoSans;
}

.aboutus .beauti div h2 {
  font-weight: 400;
  color: #3e3d3c;
  @apply font-robotoSans;
}

@media screen and (max-width: 768px) {
  .aboutus .beauti div {
    flex-direction: column;
  }
  .aboutus .beauti div {
    font-size: 1rem;
  }
  .aboutus .beauti div h2 {
    padding-left: 1rem;
  }
}

.aboutus h3 {
  @apply text-[#3e3d3c] text-start text-[17px] font-[100] leading-[32px] mb-[40px] font-nunitoSans;
}

.aboutus a {
  text-decoration: underline;
  color: #3e3d3c;
  @apply font-nunitoSans;
}

.aboutus p {
  @apply text-[#3e3d3c] mb-[40px] text-[17px] font-[100] leading-[32px] font-nunitoSans;
}

.aboutus h4 {
  @apply font-[300] text-[29px] text-left text-[#3e3d3c] font-robotoSans;
  margin: 20px 0;
}

.aboutus h5 {
  @apply text-[#3e3d3c] font-[100] text-[29px] text-left font-robotoSans;
  margin: 20px 0;
}

/* Contact */

.contactSwiper .swiper-pagination-bullet {
  @apply w-[12px] opacity-100 h-[12px] border-2 border-[#fff] bg-transparent;
}

.contactSwiper .swiper-pagination-bullet-active {
  background: #fff;
}

/* Treatments */
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  background: transparent !important;
  box-shadow: none !important;
}

.MuiPaper-root.Mui-expanded:not(:first-child), 
.MuiPaper-root.MuiPaper-elevation:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.expandMoreIcon {
  font-size: 2rem !important;
}

#panel1bh-header {
  justify-content: flex-start !important;
}

#panel1bh-header div {
  flex-grow: initial !important;
  justify-content: flex-start !important;
}

.treatments table tr:nth-child(even) {
  background-color: #c7cbd62e;
}